{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>CA Registration</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <!--===============================================================================================-->
</head>

<body>

    <div class="limiter">
        <div class="container-login100" style="background: #000000;
  background: -webkit-linear-gradient(-135deg, #333333, #000000);
  background: -o-linear-gradient(-135deg, #333333, #000000);
  background: -moz-linear-gradient(-135deg, #333333, #000000);
  background: linear-gradient(-135deg, #333333, #000000);">
            <div class="wrap-login100" style="background: white position: relative;">

                <div class="login100-pic js-tilt" data-tilt>
                    <img src="{% static 'images/img-01.png' %}" alt="IMG">
                </div>

                <form class="login100-form validate-form" action="" method="post" id="login" autocomplete="off">
                    <span class="login100-form-title">
                        Campus Ambassador Registration
                    </span>
                    {% csrf_token %}
                    {% for field in form %}
                    {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }} {{ field.label }}</strong>
                    </div>
                    {% endfor %}

                    {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                    {% endfor %}

                    {% if field.label == "Publicize varchas" %}
                    How will you {{ field.label }}?

                    <div class="wrap-input100">
                        <input class="input100" type="{{ field.field.widget.input_type }}" name="{{ field.name }}"
                            placeholder="{{ field.label }}">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="{{ field.field.widget.attrs.icon_name }}" aria-hidden="true"></i>
                        </span>
                    </div>
                    {% else %}
                    {{ field.label }}
                    <div class="wrap-input100 validate-input">
                        <input class="input100" type="{{ field.field.widget.input_type }}" name="{{ field.name }}"
                            placeholder="{{ field.label }}*" required autofocus>
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="{{ field.field.widget.attrs.icon_name }}" aria-hidden="true"></i>
                        </span>
                    </div>
                    {% endif %}
                    {% endfor %}

                    {% if messages %}
                    {% for message in messages %}
                    {% if 'register-success' in message.tags %}
                    <div class="form-header green mb-4">{{ message }}</div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Register
                        </button>
                    </div>


                    <div class="text-center p-t-136">
                        <a class="txt2" href="{% url 'accounts:register' %}">
                            Register as Player
                            <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                        </a>
                    </div>
                </form>
                <a href="{% url 'main:home' %}" style="position: absolute; right: 5%; top: 6%;">
                    <button class="login100-form-btn" style="padding: 10px 13px 20px 13px">
                        <h3>X</h3>
                    </button>
                </a>
            </div>
        </div>
    </div>


    <!--===============================================================================================-->
    <script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'vendor/select2/select2.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'vendor/tilt/tilt.jquery.min.js' %}"></script>
    <script>
        $('.js-tilt').tilt({
            scale: 1.1
        })
    </script>
    <!--===============================================================================================-->
    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>