<html>
<head>
  <title>Password Reset</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
  <p class="mb-sm-3"></p>
  <div class="container">
  {% if validlink %}
  <b>Change password</b><br><br>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Change password</button>
  </form>
  {% else %}
  <p>
    The password reset link was invalid, possibly because it has already been used.
    Please request a new password reset.
  </p>
  {% endif %}
  </div>
</body>
</html>