{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Remove Player</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <!--===============================================================================================-->
</head>

<body>

<div class="limiter">
    <div class="container-login100" style="background: #000000;
        background: -webkit-linear-gradient(-135deg, #333333, #000000);
        background: -o-linear-gradient(-135deg, #333333, #000000);
        background: -moz-linear-gradient(-135deg, #333333, #000000);
        background: linear-gradient(-135deg, #333333, #000000);">
        <div class="wrap-login100" style="background: white">
            <div class="login100-pic js-tilt" data-tilt>
                <img src="{% static 'images/img-01.png' %}" alt="IMG">
            </div>

            <form class="login100-form validate-form" action="" method="post" id="login" autocomplete="off">
                    <span class="login100-form-title">
                        Remove Player
                    </span>


                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}

                {% csrf_token %}


                {% for field in form %}
                    <div class="wrap-input100 validate-input">

                        <select name="{{field.name}}" placeholder="Email" required autofocus>
                            {% for player in players %}
                            <option value={{player}}>{{player.user.first_name}}: {{player}} </option>
                            {% endfor %}
                        </select>

                    </div>
                {% endfor %}

                {% if messages %}
                    {% for message in messages %}
                        {% if 'register-success' in message.tags %}
                            <div class="form-header green mb-4">{{ message }}</div>
                        {% endif %}
                    {% endfor %}
                {% endif %}

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Submit
                    </button>
                </div>



                <div class="text-center p-t-136">

                </div>
            </form>
            <a href="{% url 'main:home' %}">
                <button class="login100-form-btn" style="padding: 10px 13px 20px 13px">
                    <h3>X</h3>
                </button>
            </a>
        </div>

    </div>
</div>


<!--===============================================================================================-->
<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/tilt/tilt.jquery.min.js' %}"></script>
<script>
    $('.js-tilt').tilt({
        scale: 1.1
    })
</script>

<!--===============================================================================================-->
<script src="{% static 'js/main.js' %}"></script>

</body>

</html>
{#<html>#}
{#<head>#}
{#  <title>Remove Player</title>#}
{#  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">#}
{#</head>#}
{#<body>#}
{#  <p class="mb-sm-3"></p>#}
{#  <div class="container">#}
{#  Enter the Email of the player to be removed.#}
{#  <p class="mb-sm-1"></p>#}
{#  <form method="post">#}
{#    {% csrf_token %}#}
{#    {{ form.as_p }}#}
{#    <button type="submit">Submit</button>#}
{#  </form>#}
{#  <b><div class="row" style="padding-top: 10px; padding-left: 40px;">Player Name:<div style="padding-left: 15px;">Player Email</div></div></b>#}
{#  {% for player in players %}#}
{#    <div class="row" style="padding-left: 40px;">{{player.user.first_name}} {{player.user.last_name}}:<div style="padding-left: 15px;">{{player}}</div></div>#}
{#    {% endfor %}#}
{#  </div>#}
{#</body>#}
{#</html>#}