{% extends 'adminportal/base.html' %}
{% load static %}
{% block body %}
<form action="{% url 'adminportal:dteams' %}" method="post">
    {% csrf_token %}
    <select name="sport" id="">
        <option value="">Select Sports</option>
        {% for sport in sports%}
        <option value="{{sport}}" {% if sport_select == sport %}selected {% endif %}>
            {{sport}}
        </option>
        {% endfor %}
    </select>

    <select name="category" id="">
        <option value="">Select Category</option>
        {% for category in categoryOptions %}
        <option value="{{ category }}" {% if category_select == category %}selected{% endif %}>
            {{ category }}
        </option>
        {% endfor %}
    </select>

    <select name="team_type" id="team-type-filter">
        <option value="">Select Team Type</option>
        {% for type in teamTypeOptions %}
        <option value="{{ type }}" {% if team_type_select == type %}selected{% endif %}>
            {{ type }}
        </option>
        {% endfor %}
    </select>

    
    <input type="submit" value="Filter" class="btn btn-primary" style="margin: 4px;">
</form>
<table class="table table-bordered">
    <thead>
        <tr>
            <th><b>Team Name</b></th>
            <th><b>Sport</b></th>
            <th><b>Category</b></th>
            <th><b>Event</b></th>
            <th><b>Captain</b></th>
            <th><b>College</b></th>
            <th><b>Captain no.</b></th>
            <th><b>Payment Status</b></th>
        </tr>
    </thead>
    <tbody>
        {% for team in teams %}
        <tr>
            <td>{{ team }}</td>
            <td>{{ team.get_sport_display }}</td>
            <td>{{team.category}}</td>
            <td>{{team.teams}}</td>
            <td>{{ team.captain.user.first_name }}</td>
            <td>{{ team.college }}</td>
            <td>{{ team.captain.phone }}</td>
            <td>{{team.get_payment_status_display}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<br>
<a href="{% url 'adminportal:dashboard' %}">Go Back</a>
</div>
{% endblock %}

{# {% for user in users %} {% if user.teamId == team %} {{user.user.first_name}} <br> {% endif %} {% endfor %} #}