@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  background-color: #1b1b1b;
  color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay-heading {
  font-size: 6rem;
  font-weight: 900;
}

.overlay-theme {
  font-size: 3rem;
  font-weight: 200;
  padding: 20px;
}

.overlay-svg:nth-child(1) {
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  animation: line-anim 3s linear forwards;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

.hero {
  padding-top: 100px;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.left-hero,
.right-hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.prize-pool {
  height: 7em;
  width: 15em;
  text-align: center;
  justify-items: center;
  border-top: 1em solid #b9ff7cd5;
  border-right: 1em solid rgb(248, 115, 106);
  border-bottom: 1em solid #7cfff2d5;
  border-left: 1em solid rgb(248, 115, 106);
  background-color: rgb(255, 247, 0);
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.left-hero {
  width: 10%;
  padding-top: 40vh;
}

.middle-hero {
  width: 75%;
}

.left-hero-section-1 {
  width: 100%;
  height: 100px;
  background-color: #dff6ff;
  color: #002b5b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.3rem;
  font-family: "Barlow Condensed", sans-serif;
}

.left-hero-socials {
  height: 30%;
  flex-direction: column;
}

.left-hero-socials ul {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-right: 10px;
}

.left-hero-socials li {
  padding: 10px 0px;
  padding-right: 100%;
  color: white;
  list-style: none;
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  transition: 0.5s;
}

.left-hero-socials li:hover {
  cursor: pointer;
  /* background-color: #DFF6FF; */
}

.left-hero-bottom {
  transform: rotate(90deg);
  align-self: flex-start;
  color: white;
}

.middle-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-image {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  font-size: 144px;
  color: white;
}

.middle-hero img {
  width: 60%;
}

.right-hero {
  width: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-hero .dates {
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
  background-color: #dff6ff;
  color: #002b5b;
}

@media only screen and (max-width: 700px) {
  .right-hero {
    width: 80vw;
    height: 60vh;
    font-size: small;
  }
}

@media only screen and (max-width: 300px) {
  .right-hero {
    width: 80vw;
    height: 60vh;
    font-size: x-small;
  }
}
