{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/about-us.css' %}">
    <script src="https://kit.fontawesome.com/6688d75e89.js" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.11/typed.min.js" integrity="sha512-BdHyGtczsUoFcEma+MfXc71KJLv/cd+sUsUaYYf2mXpfG/PtBjNXsPo78+rxWjscxUYN2Qr2+DbeGGiJx81ifg==" crossorigin="anonymous"></script>
</head>



<div class="content-wrapper">

  <div class="bottom-left-section text-center">
    <div class="typingAnimation"></div>  
  </div>

    <div class="bottom-right-section">
      <div class="right-section-content">
        <div class="heading">
          <h3 class=>Do you have it in you? </h3>
        </div>

      <p class="text-center">
  Varchas is an embodiment of the ideology and provides a platform to athletes to showcase their talent.
  More than 1200 participant from all over the country participated in the fest last season.
  Varchas witnessed a sensation among the youth. Apart from the spectacular athletic events, varchas witnessed an array of informal events <br/>
      </p>

      
      </div>
      
  
    </div>

    <!-- The cdn links for gsap-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.2/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.2/ScrollTrigger.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.2/gsap.min.js" integrity="sha512-gsEItzcNkWxfxHjr4BaEZAd9YuRWYjxnj7c/yukcZ0/nWehUb5TjJNyyv1ApCU2DFH/qgw+stFZHPOKnoQnIuQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="../static/js/new/bottom.js"></script>

  </div>
