{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
</head>

<main id="aboutSection" class =" container-fluid">
    <section class="about-varchas">
        <div class="left-section">
            <h1>About Varchas</h1>
            <p>“Varchas” is the annual sports fest of IIT Jodhpur. Being the largest sports fest of Rajasthan, Varchas celebrates the spirit of sportsmanship and serves as a platform to showcase the countless hours of perspiration put in by the teams to achieve excellence in their sport. Since its inception in 2011 the grandeur of Varchas has spread far and wide across the best colleges of India.</p>
        </div>
        <div class="right-section">
           <img src="../static/images/about-varchas-image.png" alt=""> 
        </div>
    </section>
</main>



<!-- The cdn links for the gsap effect -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js" integrity="sha512-gmwBmiTVER57N3jYS3LinA9eb8aHrJua5iQD7yqYCKa5x6Jjc7VDVaEA0je0Lu0bP9j7tEjV3+1qUm6loO99Kw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollTrigger.min.js" integrity="sha512-tHvUcUQYi35zApvAa5TNR3fNhBQkVtkmWKfacnpxmix4/VTGz1lGjIVyLMp7gLgAvg+aKJjnVKokXJNS5GZ+/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/CSSRulePlugin.min.js" integrity="sha512-2+BGFUqT8mzxE2ifxQK7kcEhOeHaO5EOrUgRIUJ9+HoIw8zQHI+HvnVrgGjwW0qL5dpGv8ao2oZlBS7IvvCuhA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="../static/js/new/about-varchas.js"></script>



















      <!-- The cdn links for gsap-->
  <script 
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.2/gsap.min.js">
  </script>

  <script 
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.2/ScrollTrigger.min.js">
  </script>

  <script 
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.2/gsap.min.js" integrity="sha512-gsEItzcNkWxfxHjr4BaEZAd9YuRWYjxnj7c/yukcZ0/nWehUb5TjJNyyv1ApCU2DFH/qgw+stFZHPOKnoQnIuQ==" crossorigin="anonymous" referrerpolicy="no-referrer">
  </script>
  <script 
    src="../static/js/new/index.js">
  </script>
  