{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <script src="https://kit.fontawesome.com/6688d75e89.js" crossorigin="anonymous"></script>
</head>

<div class="footer-container">
    
    <div class="top-portion">
        <div class="footer-top-left-section">
            <div class="left-content">
              <div class="heading-wrapper">
                <h2>Varchas</h2>
                <h6>Vigour | Valour | Victory</h6>
              </div>
            </div>

        </div>
        <div class="footer-top-right-section">
            <img src="/static/images/footer.png" />
        </div>
    </div>


    <div class="footer-main">
      
      <div class="column">
        <p class="registration-and-enquiry">Registration and Enquiry: </p>
        <ul>
          <li>Animesh: +91 7408006143</li>
          <li>Shruthika: +91 8688141785</li>
          <li>Shahzen: +91 7726902763</li>
          <li>Eshita Dutta: +91 9758953881</li>
        </ul>
      </div>
      
      
      <div class="column">
        <p>Indian Institute of Technology Jodhpur
  NH 65 Nagaur Road
  Karwar 342030, Jodhpur District</p>
      </div>
      
      
      <div class="column quick-links">
  
        <ul>
          <li><a href="#aboutSection">About-Us</a></li>
          <li><a href="{% url 'main:gallery' %}">Gallery</a></li>
          <li><a href="{% url 'main:OurTeam' %}">Core Team</a></li>
        </ul>
      </div>
      
    </div>
    
    <hr>
    
    <div class="copyright">
      
      <p>&#169; All rights reserved by Varchas-22 | Devloped with &hearts; by the web-dev team</p>
      
      <div class="socials">
        <ul>
          <li><a href="https://www.instagram.com/varchas_iitj/?hl=en"><i class="fa-brands fa-instagram fa-2x"></i></a></li>
          <li><a href="mailto: varchas@iitj.ac.in"><i class="fa fa-envelope fa-2x"></i></a></li>

        </ul>
      </div>
      
    </div>
    
    
  </div>